<% layout("layouts/boilerplate") %>

<main class="form-container">
  <h3 class="form-title">Edit Course</h3>

  <form method="POST" action="/courses/<%= course._id%>?_method=PUT" class="course-form" enctype="multipart/form-data">

    <div class="form-group">
      <label for="name">Course Name</label>
      <input type="text" id="name" name="course[name]" value="<%= course.name %>" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="course[description]" rows="5" required><%= course.description %></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="file" id="image" name="course[image]" value="<%= course.image %>" >
    </div>

    <div class="form-group">
      <label for="price">Price (₹)</label>
      <input type="number" id="price" name="course[price]" value="<%= course.price %>" required>
    </div>

    <div class="form-group">
      <label for="tutor">Tutor Name</label>
      <input type="text" id="tutor" name="course[tutor]" value="<%= course.tutor %>" required>
    </div>

    <button type="submit" class="btn-submit">Update Course</button>
  </form>
</main>


