<% layout("layouts/boilerplate") %>

<main class="course-show">
  <div class="course-banner">
    <img src="<%= course.image %>" alt="<%= course.name %>">
  </div>

  <div class="course-details">
    <h1><%= course.name %></h1>
    <p class="course-tutor">Instructor: <strong><%= course.tutor %></strong></p>
    <p class="course-description"><%= course.description %></p>
    <p class="course-price">Price: ₹<%= course.price %></p>

    <a href="/courses/<%= course._id%>/edit" class="btn-enroll">edit</a>
    <form action="/courses/<%= course._id %>?_method=DELETE" method="POST" class="form-delete">
    <button type="submit" class="btn-delete">Delete Course</button>
    </form>
  </div>
</main>


