<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>about course</h3>
     <ul>
        <img src="<%=course.image%>" height="250px" alt="course-img">
        <li><%=course.name%></li>
        <li><%=course.description%></li>
        <li>&#8377; <%=course.price%></li>
        <li><%=course.tutor%></li>
     </ul>
     <a href="/courses/<%=course.id%>/edit">edit</a>
     <form method="post" action="/courses/<%=course.id%>?_method=DELETE">
        <button>delete</button>
     </form>
</body> 
</html>